@import url('https://fonts:googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
	background: rgb(202, 221, 224);
	    text-decoration: none;

}

section
{
	padding:100px;
}
.banner
{
	position: relative;
	
	background-size: cover;
	width: 50%;
	background-position:left;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.banner h2
{
	
	font-size: 3em;
	color: black;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span
{
	font-size: 1.5em;
	font-weight: 700;
} 

.banner h3
{
	font-size: 1.5em;
	color: black;
	font-weight: 500;
}
.btn
{
	position: relative;
	background: cornflowerblue;
	display: inline-block;
	color: black;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header.sticky
{
	background:#fff;
    padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1) ;
}
header .logo
{
	color:black;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}
header.sticky .logo
{
	color: #fff;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: black ;
	text-decoration: none;
}
header.sticky ul li a
{
	color: black;
}
.heading
{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.heading h2
{
	 font: weight 600px; 
	 font-size: 30px ;
}
/*.about
{
	background: rgb(52, 213, 241);
}*/
.content
{
	display:flex;
	justify-content: space-between;

}
.contentBx
{
padding-right: 30px;
}
.contentBx h3
{
	font: size 24px;
	margin-bottom: 10px;
}
.w50
{ 
	min-width: 30%;
}
.img
{
	 /*max-width: 170%; */
 	height:50%;
}
.services
{
	background: #111 ;
}
.heading.white
{
	color: #fff;
}
/*.Education{
	background: rgb(52, 213, 241);
}*/
.Education .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.Education .content .servicesBx
{
	border-radius: 25px;
	padding: 40px 20px;
	background: #999;
	color: rgb(34, 34, 34);
	max-width: 340px;
	margin: 20px;
	text-align:center;
	transition: 0.5s;
}
.Education .content .servicesBx:hover
{
	background: #2196f3;
}

.Education .content .servicesBx img
{
	max-width: 80px;
	filter:invert(1);
}

.Education .content .servicesBx h2
{
	font-size: 20px;
	font-weight: 600;
}
/*.Work
{
	background: rgb(52, 213, 241);
}
.Personal Details
{
	background: rgb(52, 213, 241);
}*/
.table
{

width: 100px;;
}
.center
{
	margin-left: auto;
	margin-right: auto`;
}
.table,td{
	border:1px solid #111;
    border-collapse: collapse;
}
.td 
{
	padding: 10px;
}
tr:nth-child(even) {
	background-color: #dddddd;
  }
/*.contact
{
	background: rgb(52, 213, 241);
}*/
.formBx
{ 
	min-width: 60%;
}
.formBx form
{
	display: flex;
	flex-direction: column;
}
.formBx form h3,
.contactinfo h3 
{
	color: rgb(37, 4, 4);
	font-size: 20px;
	font-weight: 500;
	margin-bottom:10px   ;
} 
.formBx form  input,
.formBx form textarea
{
	margin-bottom: 20px;
	padding: 15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #222;
	color: #fff;
	resize:none;
}
.formBx form textarea
{ 
	min-height: 200px;
}
.formBx from input::placeholder,
.formBx from textarea ::placeholder
{color: #999;}
/*.formBx form input[type="submit"]
{
max-width: 100px;
background: #2a6494 ;
cursor: pointer;  
text-transform: uppercase;
letter-spacing: 2px;
}*/
.contactinfo
{
	min-width: 40%;
}
.contactinfoBx 
{
	position: relative;
}
.contactinfoBx  .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.contactinfoBx .box .icon
{
	min-width: 40px;
	padding-top: 4px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 24px;
}
.contactinfoBx .box .text 
{ 
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	flex-direction: column;
	font-weight: 300;
}
.contactinfoBx .box .text h3
{
	font-weight: 500;
    color: rgb(3, 3, 34);
    margin-bottom: 0;
}

/*Responsive*/
@media (max-width: 991px)
{
	header,
	header.sticky
	{
		padding: 20px 50px;
	}
}
